<div class="main">
 <div class="container">
  <div class="row">
   <h3 class="garments_new" style="padding-top:50px;">新規投稿</h3>

   <div class="form-group">
	<label for="garments_image">写真</label>
	<!-- S3にて実装 -->
　　</div>
　　<div class="form-group">
	<label for="garments_title">タイトル</label>
	<!-- 入力フォーム -->
　　</div>
　　<div class="form-group">
	<label for="garments_category">カテゴリー</label>
	<!-- カテゴリーフォームタグ -->
　　</div>
　　<div class="form-group">
	<label for="garments_body">本文</label>
	<!-- 入力フォーム -->
   </div>
   <div class="form-group">
	<label for="garments_tag">タグ</label>
	<!-- 入力フォーム -->
   </div>
   <label for="book_rating">評価</label>
	<!-- 星での評価機能 -->
	<!-- 投稿ボタン -->
  </div>
 </div>
</div>