<div class="body">
  <div class="container">
    <p id="notice"></p>
      <h1 class="about_headline" style="padding-top:50px;">GARMENTSとは</h1>
      <P>自分のお気に入りの服を全国のユーザーに発信できるSNSアプリケーションです。服についての写真や説明文を登録し、投稿することができます。他のユーザーが投稿した服に対していいねやコメントをつけることができたり、カテゴリーやブランド名で投稿を検索することができます。日々たくさんの服が投稿され、ユーザーは毎日のお洒落を楽しむことができることを目的としています。</P>
  </div>
</div>