<div class="about">
  <div class="container">
    <div class="row">

      <h1 class="title">GARMENTSとは..</h1>
      <P class="about-content text-center">自分のお気に入りの服を全国のユーザーに発信できるSNSアプリケーションです。服についての写真や説明文などを登録し、投稿することができます。他のユーザーが投稿した服に対していいねやコメントをつけることができます。日々たくさんの服が投稿され、ユーザーは毎日のお洒落を楽しむことができることを目的としています。</P>

      <!-- イメージ画像 -->
      <div class="image-group clearfix">
      <div class="jacket aboutimg"></div>
      <div class="knit aboutimg"></div>
      <div class="sandals aboutimg"></div>
      </div>
      <!-- イメージ画像 -->

    </div>
  </div>
</div>