/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

/*application.html.erb*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.navbar-title {
	color: white;
	font-size: 25px;
	font-family: 'Noto Sans JP', sans-serif;
}
.navbar-fixed-bottom {
	color: white;
	font-size: 15 px;
	font-family: 'Noto Sans JP', sans-serif;
}
.navbar-title {
	line-height: 50px;
    padding-left: 15px;
    font-family: 'Rowdies', cursive;
    font-size: 2.5rem;
}

/*registrations/new.html.erb*/
.form-group {
	width: 50%;
	margin: 0 auto;
}
.col-md-2 {
	width: auto;
}
.password-form {
	width: 85px;
	padding-right: 0;
}
.password-length {
	padding-left: 0;
}
.btn-default {
	color: white;
	background-color: #9d9d9d;
	border-color: #777777;
}
.btn-default:hover {
	color: white;
	background-color: #696969;
	border-color: #777777;
}
.signin-link {
	text-align: left;
}