/*garments/index.html.erb*/
/*ページネーション本体のデザイン*/
.pagination>li>a {
  	border: none;
  	color: #2C7CFF;
}
/* 表示しているページ番号のデザイン */
.pagination>.active>a {
	background: black;
	color: white;
}
/*ホバー時のデザイン*/
.pagination>li>a:hover {
  	background: #EEEEEE;
}

/*garments/show.html.erb*/
.garments-show .title {
	padding-bottom: 20px;
}
.garments-show .form-group {
	width: 100%;
	padding-top: 0;
	text-align: left;
}
.col-xs-5 {
	width: auto;
}
.review-star {
	display: inline-block;
	width: 60%;
}
.mine-edit-delete {
	padding-right: 90px;
}
#star img {
	width: 18px;
}
.panel-size {
	width: 250px;
	height: 250px;
}
.tag-lists {
	padding-top: 10px;
}
.mine-edit-delete {
}
.comment-title {
	font-size: 15px;
	margin: 0 auto;
}

/*garments/show.html.erb(レスポンシブ対応)*/
@media screen and (max-width: 425px) {
	.garments-show-responsive1 {
		padding-left: 90px;
	}
	.garments-show-responsive2 {
		padding-top: 10px;
		padding-left: 90px;
		width: 90%;
	}
	.mine-edit-delete {
		padding: 0;
	}
	.mine-edit-responsive {
		margin-right: 25px;
	}
}

/*garments/new.html.erb*/
.review-title {
	width: 10%;
}

/*garments/new.html.erb(レスポンシブ対応)*/
@media screen and (max-width: 425px) {
	.review-title {
		width: 15%;
	}
}

