/*top.html.erb*/
.top {
	width: 100%;
	background-image: image-url(topimage.jpeg);
	background-repeat: no-repeat;
	background-position: 20% 20%;
	background-size: cover;
}
.top::before {
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}
.top-title {
    font-size: 50px;
    font-family: 'Rowdies', cursive;
	color: white;
	padding: 50px 0;
	text-align: center;
}
.btn-cross {
	display: inline-block;
	float: left;
	position: relative;
	padding: 0.25em 1em;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.btn-cross:before, .btn-cross:after {
	content: '';
	position: absolute;
	top: -7px;
	width: 2px;
	height: -webkit-calc(100% + 14px);
	height: calc(100% + 14px);
	background-color: white;
	transition: .3s;
}
.btn-cross:before {
	left: 7px;
}
.btn-cross:after {
	right: 7px;
}
.btn-cross:hover:before {
	top: 0;
	left: 0;
	height: 100%;
}
.btn-cross:hover:after {
	top: 0;
	right: 0;
	height: 100%;
}
.btn-cross:hover {
	color: #CCCCCC;
	text-decoration: none;
}

/*top.html.erb(レスポンシブ対応)*/
@media screen and (max-width: 425px) {
	.top {
		height: 1000px;
		background-position: center;
	}
}

/*about.html.erb*/
.title {
	padding-top: 50px;
	text-align: center;
}
.about-content {
	padding-top: 20px;
	font-size: 20px;
}
.image-group {
	width: 930px;
	padding-top: 20px;
	margin: 0 auto;
}
.aboutimg {
	float: left;
    width: 300px;
    height: 300px;
    margin: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
}
.jacket {
	background-image: image-url(jacket.jpeg);
}
.knit {
	background-image: image-url(knit.jpeg);
}
.sandals {
	background-image: image-url(sandals.jpeg);
}

/*about.html.erb(レスポンシブ対応)*/
@media screen and (max-width: 425px) {
	.about {
		width: 100%;
	}
	.about-content {
		font-size: 16px;
	}
	.image-group {
		width: 100%;
	}
	.aboutimg {
		float: none;
		margin: 0 auto;
    	width: 200px;
        height: 200px;
	}
}