/*users/show.html.erb*/
.users-show-title {
	padding-top: 50px;
	text-align: left;
}
.users-show .icon {
	width: 200px;
	height: 200px;
}
.users-img {
    padding-top: 10px;
	text-align: left;
}
.profile-btn {
	padding-top: 15px;
	text-align: left;
}
.introduction-title {
	font-weight: bold;
	text-align: center;
}
.introduction {
    font-weight: bold;
	text-align: left;
	margin-top: 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}
.link-group {
	margin-top: 5px;
	border-left: 3px solid white;
	border-right: 3px solid white;
}
ul {
  list-style: none;
}
.link-contents {
	margin-top: 20px;
	text-align: center;
}
.link-contents:last-child {
	margin-bottom: 20px;
}
.page-link {
    color: #222222;
    font-weight: bold;
    font-size: 15px;
	text-decoration: none;
}
.page-link:hover {
    color: #555555;
	text-decoration: none;
}
.garments-form {
	text-align: center;
}

/*users/myindex.html.erb*/
.profile-image:hover {
	text-decoration: none;
}
select {
	display: block;
	width: 180px;
    height: 30px;
    padding-left: 8px;
	font-size :16px;
}